{% extends "template.html" %}
{% block content %}

<h2>Analisis</h2>
<p class="fs-5">Kasus covid 19 di indonesia</p>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 mb-5">
            <div id="chartBar" class="chart"></div>
        </div>
        <div class="col-12 mb-5">
            <div id="chartPie" class="chart"></div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/vendor/echarts.js')}}"></script>
<script src="{{url_for('static', filename='js/app/covid19.js')}}"></script>

{% endblock %}